<!-- Adopted from https://www.udemy.com/ruby-on-rails-a-beginners-guide-free -->

<div class="row">
    <!-- Blog Post Content Column -->
    <div class="col-10">
        <!-- Blog Post -->
        <!-- Title -->
        <div class="jumbotron">
            <h1 class="display-4">Welcome to Do Yeun's Articles</h1>
            <p class="lead">This is my first Ruby on Rails Application</p>
            <hr class="my-4">
            <p>It took me <strong>5 days, 10+ Postgresql resets, 50+ restarts, 3 failed Ubuntu dual booting with all possible errors, 
                1 successful Windows reset, 3 redo's on dualbooted Ubuntu, giving my credit card info away to Heroku, and 
                lots of cursing and punching the air </strong> to make this possible. </p>
        </div>
    </div>



    <!-- Blog Sidebar Widgets Column -->
    <div class="col-2" style="padding-top: 1%">
        <!-- Side Widget Well --> 
        <div class="well">
            <h4>Recent Posts</h4>
            <!-- Post the body of the last article posted -->
            <% @articles.each do |art| %>
                Created by: <%= art.user.username %><br />
                <strong> <%= link_to art.title, art %> </strong>
                <p> <%= truncate(art.body) %> </p>
            <% end %>
        </div>
    </div>
</div>
<!-- /.row -->
<hr>